
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <header>
        
    </header>
    <h1>Products</h1>
    <ul>
        {% for product in products %}
            <li>
                {{ product.name }} - ${{ product.price }}
                <form method="post" action="{% url 'add_to_basket' product.id %}">
                    {% csrf_token %}
                    <button type="submit">Add to Basket</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    
</body>
</html>